* {margin: 0;
padding:0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bfbfbf;
}

.card-wrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% -50%);
}

.card {
    width: 550px;
    height: 300px;
    background-color: #ffffff;
}

.card-front {
    width: 100%;
    height: 100%;
    display:flex;
    background: linear-gradient(100deg,
     rgb(238, 176, 4) 40%,
     rgb(102, 102, 102) 0);
    }

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 80%;
}

.left h4 {
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}

.left span {
    text-transform: uppercase;
    color: #0d5692;
}

.right {
    width: 60%;
    color: wheat;
}

.right-content {
    display:flex;
    align-items: center;
    margin: 20px 0;

}

.person {
    background-color: ;
}

